<doctype html5>
<head>
<title>   </title>

</head>

<body>
    <section>
        <form action="/action_page.php">
            <div>
                <center>  <header> <h1>Registration Form  -  Harshit gami</h1></header></center>
                <label type="name"><b>User name</b></label><br><input type="text" placeholder="A-Z,a-z ,num" name="username" value="harshit45"><br><br>
                <label type="name"><b>First name</b></label><br><input type="text" placeholder="A-Z,a-z" name="username"value="harshit" ><br><br>
                <label type="name"><b>Last name</b></label><br><input type="text" placeholder="A-Z,a-z" name="username" value="gami" ><br><br>

                <label for="email"><b>Email</b></label><br><input type="name" placeholder="Enter Email" name="email" value="harshitgami45@gmail.com" required><br><br>
                <label type="password"><b>password</b></label><br><input type="password" placeholder="password" name="password" value="harshit" required></input><br><br>
                <label type="password"><b>Confirm password</b></label><br><input type="password" placeholder="confirm password" name="Confirm password" value="harshit" required></input><br><br>
                
                <label for="Address"><b>Address</b></label><br><textarea type="textarea" placeholder="address" name="address" maxlength="30"  required>bangali square 677</textarea><br><br>
                <label for="Date Of Birth"><b>Date Of Birth</b></label><br><input type="date" placeholder="dob" name="dob"  value="2012-01-23" required></input><br><br> 
                <label for="Country"><b>Country</b></label><br>
                <select name="country" id="country">
                    <option value="India"selected>India</option>>
                    <option value="Japan">Japan</option>>
                    <option value="China">China</option>>
                    <option value="Bangladesh">Bangladesh</option>>
                    <option value="Afganishtan">Afganishtan</option>>
                </select><br><br>
                <label for="Mob_no"><b>Mobile no</b></label><br><input type="tel" placeholder="Enter mobile no" name="Mob_no" value="708646477474" required><br><br>
                <label for="image"><b>Image</b></label><br><input type="file" placeholder="insert image" name="image" ><br><br>
                <label for="Gender"><b>Gender</b></label><br><input type="radio" name="gender" value="male" checked>Male<br>
                                                             <input type="radio" name="gender" value="Female">Female<br>
                <label for="Technologies"><b> Technologies</b></label><br><input type="checkbox" name="Technologies1" value="Python" checked>Python<br>
                                                                    <input type="checkbox" name="Technologies2" value="Java">Java<br>
                                                                    <input type="checkbox" name="Technologies3" value="Nodejs">Nodejs<br>
                <label for="url"><b> url</b></label><br><input type="url" name="url" placeholder="instagram url" value="https://www.google.com" ><br>        
                <input type="submit" value="login">
            </div> 
        </form>   
        <footer>This is footer</footer>
    </section>
</body>
</html>