ul {
  list-style-type: none;
  margin: 0;
  padding:10;
  overflow: hidden;
  background-color: white;
  
}
div.navbar{

  position: sticky;
  text-align: center;
  top: 0;
  padding-left: 10;
  margin-left: 120;
 
 
  
}
li {
  float: left;
  text-decoration: none;
}
li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}

.image{
  display: block;
  float: left;
  margin-left: 10;
  margin-right: auto;
  height: 70;
  width: 110;
  
}
div.sticky1{

  top: 30;
  height: 20;
  width: 20;

}
.footer{
  border: 0;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
  font-size: 10;
  color:black;
  bottom: 0;
  background-color: #f5e2e2;

}
div.sticky2{

  position: sticky;
  bottom: 5;
  text-align: center;
}
.sidenavbar {
  height: 95%;
  width: 140px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
 
}

.sidenavbar a {
  margin-top: 30;
  padding: 4px 6px 4px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenavbar a:hover {
  color: #f1f1f1;
}
.maindata{
  text-align: center;

}
body{

  margin: 0;
}
@media screen and (max-width: 700px) {
  .sidenavbar {
    width: 100%;
    height: auto;
    position: sticky;
  
  }
  .sidenavbar a {float: left;
               font-size: 20px;}
  div.navbar{

    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}
}
@media screen and (max-width: 600px) {
  .sidenavbar a {
    text-align: center;
    font-size: 15px;
    float: left;
  }
  div.navbar{


    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}
}
@media screen and (max-width: 500px) {
  .sidenavbar a {
    text-align: left;
    font-size: 20px;
    float: left;
  }
  div.navbar{
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}
}
@media screen and (max-width: 400px) {
  .sidenavbar a {
    text-align: center;
    font-size: 20px;
    float: none;

  }
  div.navbar{
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}
}
.mainbody{

  text-align: center;
}
.mainbody > .gender{
  
  display: inline;
 
}
.mainbody > .checkbox{

  display: inline;
}
.header{

  text-decoration: underline;
}
