<doctype html5>
<head>
<title>   </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  rel="stylesheet" href="/home/ulap09/Desktop/Assignments/css_assignment/css/style.css">
</head>

<body bgcolor="dddddd">
    <section class="maindata">
        <div>
            <div class="sidenavbar">
                <div class="sticky1">  <img  src="/home/ulap09/Desktop/want69178-1wFX871559291644.jpg" alt="image" class="image"></div><br>
                <a href="#python">python</a>
                <a href="#java">java</a>
                <a href="#node">node</a>
                <a href="#angular">angular</a>
            </div>
        </div>
        <div class="navbar"> 
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <form >
            <div class="header">
                 <header > <h1>Harshit gami</h1></header><br><br>
            </div>
           
            <div class="mainbody">
                <label type="name"><b>Username</b></label><br><input type="text" placeholder="A-Z,a-z ,num" name="username" required><br><br>
                <label type="name"><b>First Name</b></label><br><input type="text" placeholder="A-Z,a-z" name="username" required><br><br>
                <label type="name"><b>Last Name</b></label><br><input type="text" placeholder="A-Z,a-z" name="username" required><br><br>
              
                <label for="email"><b>Email</b></label><br><input type="name" placeholder="Enter Email" name="email" required><br><br>
                <label type="password"><b>Password</b></label><br><input type="password" placeholder="password" name="password" required></input><br><br>
                <label type="password"><b>Confirm Password</b></label><br><input type="password" placeholder="confirm password" name="Confirm password"required></input><br><br>
                
                <label for="Address"><b>Address</b></label><br><textarea type="textarea" placeholder="address" name="address" maxlength="30" required></textarea><br><br>
                <label for="Date Of Birth"><b>Date Of Birth</b></label><br><input type="date" placeholder="dob" name="dob" required</input><br><br> 
                <label for="Country"><b>Country</b></label><br>
                <select name="country" id="country">
                    <option value="India"selected>India</option>>
                    <option value="Japan">Japan</option>>
                    <option value="China">China</option>>
                    <option value="Bangladesh">Bangladesh</option>>
                    <option value="Afganishtan">Afganishtan</option>>
                </select><br><br>
                <label for="Mob_no"><b>Mobile Number</b></label><br><input type="tel" placeholder="Enter mobile no" name="Mob_no" required><br><br>
               
                <label for="image"><b>Image</b></label><br><input type="file" placeholder="insert image" name="image" ><br><br>
                <label for="Gender"><b>Gender</b></label><br><input class="gender" type="radio" name="gender" value="male">Male
                                                             <input class="gender" type="radio" name="gender" value="Female">Female<br><br>
                <label for="Technologies" class="container"><b> Technologies</b><br><input class="checkbox" type="checkbox" name="Technologies1" value="Python" checked>Python
                                                                    <input class="checkbox"  type="checkbox" name="Technologies2" value="Java">Java
                                                                    <input class="checkbox"  type="checkbox" name="Technologies3" value="Nodejs">Nodejs<br><br>
                <label for="url"><b> Instagram Url</b></label><br><input type="url" name="url" placeholder="instagram url"  ><br>     <br>   
                <input  class="submit" type="submit" value="submit"><br><br>
            </div>
        </form>   
        
    </section>
       <div class="sticky2" >  <footer class="footer">This is footer</footer></div>
    



</body>
</html>

